/* [project]/src/Component/certificate/CertificatePage/CertificatePage.module.css [client] (css) */
.CertificatePage-module__hJeYMW__certificateSection {
  background: linear-gradient(#fff, #f8f8f8);
  padding: 140px 0 0;
  position: relative;
  overflow: hidden;
}

.CertificatePage-module__hJeYMW__glow {
  filter: blur(90px);
  background: radial-gradient(circle, #e5393514, #0000 70%);
  width: 550px;
  height: 550px;
  position: absolute;
  top: -250px;
  right: -180px;
}

.CertificatePage-module__hJeYMW__heading {
  text-align: center;
  z-index: 2;
  max-width: 900px;
  margin: auto auto 20px;
  position: relative;
}

.CertificatePage-module__hJeYMW__heading span {
  color: var(--theme-color);
  letter-spacing: 1px;
  background: #e5393514;
  border-radius: 50px;
  margin-bottom: 24px;
  padding: 12px 24px;
  font-size: 13px;
  font-weight: 800;
  display: inline-block;
}

.CertificatePage-module__hJeYMW__heading h1 {
  color: #111;
  margin-bottom: 14px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.08;
}

.CertificatePage-module__hJeYMW__heading p {
  color: #666;
  font-size: 17px;
  line-height: 1.9;
}

.CertificatePage-module__hJeYMW__infoCard {
  text-align: center;
  background: #fff;
  border-radius: 20px;
  height: 100%;
  padding: 20px 10px;
  transition: all .45s;
  box-shadow: 0 15px 40px #0000000d;
}

.CertificatePage-module__hJeYMW__infoCard:hover {
  transform: translateY(-10px);
}

.CertificatePage-module__hJeYMW__infoCard svg {
  background: linear-gradient(135deg, var(--theme-color), #ff6b6b);
  color: #fff;
  border-radius: 24px;
  width: 50px;
  height: 50px;
  margin-bottom: 24px;
  padding: 10px;
}

.CertificatePage-module__hJeYMW__infoCard h4 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 800;
}

.CertificatePage-module__hJeYMW__infoCard p {
  color: #666;
  line-height: 1.8;
}

.CertificatePage-module__hJeYMW__certificateCard {
  transition: all .45s;
}

.CertificatePage-module__hJeYMW__certificateCard:hover {
  transform: translateY(-10px);
}

.CertificatePage-module__hJeYMW__frame {
  background: linear-gradient(145deg, #f3f3f3, #fff);
  border-radius: 40px;
  padding: 18px;
  position: relative;
  box-shadow: 0 20px 45px #00000014;
}

.CertificatePage-module__hJeYMW__innerFrame {
  background: #fff;
  border: 1px solid #0000000d;
  border-radius: 28px;
  padding: 15px;
  overflow: hidden;
}

.CertificatePage-module__hJeYMW__certificateImage {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 420px;
  transition: all .4s;
}

.CertificatePage-module__hJeYMW__certificateCard:hover .CertificatePage-module__hJeYMW__certificateImage {
  transform: scale(1.03);
}

.CertificatePage-module__hJeYMW__cardContent {
  text-align: center;
  padding-top: 15px;
}

.CertificatePage-module__hJeYMW__cardContent h3 {
  color: #111;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 800;
}

.CertificatePage-module__hJeYMW__cardContent span {
  color: var(--theme-color);
  background: #e5393514;
  border-radius: 50px;
  padding: 10px 18px;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
}

@media (width <= 991px) {
  .CertificatePage-module__hJeYMW__certificateSection {
    padding: 130px 0 80px;
  }

  .CertificatePage-module__hJeYMW__heading h1 {
    font-size: 50px;
  }

  .CertificatePage-module__hJeYMW__certificateImage {
    height: 350px;
  }
}

@media (width <= 576px) {
  .CertificatePage-module__hJeYMW__heading span {
    margin-bottom: 10px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 700;
  }

  .CertificatePage-module__hJeYMW__certificateSection {
    padding: 90px 0 0;
  }

  .CertificatePage-module__hJeYMW__heading {
    margin-bottom: 20px;
  }

  .CertificatePage-module__hJeYMW__heading h1 {
    font-size: 18px;
  }

  .CertificatePage-module__hJeYMW__heading p {
    font-size: 14px;
    line-height: normal;
  }

  .CertificatePage-module__hJeYMW__infoCard {
    border-radius: 24px;
    padding: 28px 24px;
  }

  .CertificatePage-module__hJeYMW__infoCard h4 {
    font-size: 22px;
  }

  .CertificatePage-module__hJeYMW__frame {
    border-radius: 28px;
    padding: 12px;
  }

  .CertificatePage-module__hJeYMW__innerFrame {
    border-radius: 22px;
  }

  .CertificatePage-module__hJeYMW__certificateImage {
    border-radius: 18px;
    height: 280px;
  }

  .CertificatePage-module__hJeYMW__cardContent h3 {
    font-size: 22px;
  }
}

/*# sourceMappingURL=src_Component_certificate_CertificatePage_CertificatePage_module_css_65f1660e._.single.css.map*/